{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row my-2">
    {% for meal in object_list %}
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'core:meal-update' meal.id %}">{{meal}}</a>
                <a href="{% url 'core:meal-delete' meal.id %}" class="btn btn-danger float-end">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row my-2">
    <div class="col-3">
        <a href="{% url 'core:meal-create' %}" class="btn btn-primary">Add Meal</a>
        <a data-url="{% url 'core:ingredients' %}" class="btn btn-secondary" id="ingredients-add">Add Ingredients</a>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <h2>Available Ingredients !!</h2>
                <hr>
                <div id="ingredients" data-url="{% url 'core:ingredients' %}">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'core/script.js' %}"></script>
{% endblock %}
